<nav>
    <div class="nav-wrapper indigo darken-4">
      <a routerLink="/inicio" class="brand-logo">
        <img src="{{'assets/images/Logoo.png'}}" height="60" style="vertical-align:sub"></a>
      <a routerLink="inicio" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="sesionActiva"><a routerLink="/administracion/crear-asesor">Registrar Asesor</a></li>
        <li *ngIf="sesionActiva"><a routerLink="/administracion/buscar-inmueble">Administrar Inmueble</a></li>
        <li *ngIf="sesionActiva"><a routerLink="/administracion/vista-inmuebles">Inmuebles</a></li>
        <li ><a routerLink="/administracion/mision">Mision</a></li>
        <li ><a routerLink="/administracion/vision">Vision</a></li>
        <li *ngIf="!sesionActiva"><a routerLink="/administracion/registrarse">Registrarse</a></li>      
        <!-- <li *ngIf="sesionActiva"><a routerLink="/seguridad/cambio-clave">Cambiar Clave</a></li> -->
        <li *ngIf="sesionActiva"><a routerLink="/seguridad/logout">Cerrar Sesion</a></li>
        <li *ngIf="!sesionActiva"><a routerLink="/seguridad/login">Iniciar Sesion</a></li>
      </ul>
    </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
    <li *ngIf="sesionActiva"><a routerLink="/administracion/crear-asesor">Registrar Asesor</a></li>
    <li *ngIf="sesionActiva"><a routerLink="/administracion/buscar-inmueble">Administrar Inmueble</a></li>
    <li ><a routerLink="/administracion/vista-inmuebles">Inmuebles</a></li>
    <li ><a routerLink="/administracion/mision">Mision</a></li>
    <li ><a routerLink="/administracion/vision">Vision</a></li>
    <li *ngIf="!sesionActiva"><a routerLink="/administracion/registrarse">Registrarse</a></li>      
    <!-- <li *ngIf="sesionActiva"><a routerLink="/seguridad/cambio-clave">Cambiar Clave</a></li> -->
    <li *ngIf="sesionActiva"><a routerLink="/seguridad/logout">Cerrar Sesion</a></li>
    <li *ngIf="!sesionActiva"><a routerLink="/seguridad/login">Iniciar Sesion</a></li>
  </ul>
