<footer class="page-footer indigo darken-4">
  <div class="container ">
    <div class="row">
      <div class="col l6 s2">
        <a class="grey-text text-lighten-3" routerLink="/inicio">
          <h5 class="white-text">Inmobiliaria Hogar Colombia</h5>
        </a>
        <p class="grey-text text-lighten-4">Buscando raices!</p>
        <p class="grey-text text-lighten-4">siguenos en nuestras redes.</p>
        <img src="assets/images/redes.png">
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contactenos</h5>
        <br>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://goo.gl/maps/kkJB1PxmTNTJ2nHm7">Cra. 7 #11-10, La Candelaria, Bogotá</a></li><br>
          <li><p class="grey-text text-lighten-3" href="#!">E-mail: teams4net@gmail.com</p></li><br>
          <li><a class="grey-text text-lighten-3" href="Tel:6012711143">Tel. 601-2711143</a></li><br>             
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2022 Copyright
    </div>
  </div>
</footer>
      
  