<body>
    <br><br>
    <br><br>
    <p class="texto-borde">vision</p>
    <div class="container">
        <div class="box">
            <a>
                Inmobiliaria Hogar Colombia en el año 2022, se consolidará como una de las 5 mejores empresas de
                inmobiliarias del país, siendo la primera opción en los clientes para la asesoría personalizada, venta y
                alquiler de inmuebles con la capacidad de fomentar los servicios online, investigación y atención al
                cliente
                con nuestro personal altamente capacitado de igual forma ser recordado por el país como la mejor opción.
            </a>
        </div>
    </div>
    <br><br>
    <br><br>    
</body>
