a{
    font-size: 30px; 
    text-align: center;
    font-style:italic;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}
p{
    margin-top: 0%;
    margin-block-end: 0%;
    font-size: 100px;
    text-align: center;
    font-style:italic;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}
.texto-borde {
    -webkit-text-stroke: 4px rgb(202, 202, 219);
    color: transparent;
}
.box {
    border: rgb(6, 8, 112) 8px outset;
}
body{
    background: -webkit-radial-gradient(#3652ae, #698877);
}