<title>Hogar Colombia</title>


<body>
    <h1>Hogar Colombia</h1>
    <br>
    <br>
    <h2>Presenta esta oferta de bienes Inmuebles a su disposición</h2>
    <br><br><br><br>
    <h2>Inmuebles Disponibles</h2>
    <br><br>
    <div class="continer">
        <div class="slider-container">
            <img class="slider-item" src="assets\images\imagen-2.jpg" />
            <img class="slider-item" src="assets\images\imagen-4.jpg" />
            <img class="slider-item" src="assets\images\imagen-5.jpg" />
            <img class="slider-item" src="assets\images\casa1.jpg" />
            <img class="slider-item" src="assets\images\casa2.jpg" />
        </div>
    </div>
    <br><br>
    <div class="row">
        <div>
            <div>
                <div class="card indigo darken-4">
                    <div class="card-content white-text">
                        <h5 class="texto">Casas en Venta</h5>
                        <div style="float: left"><i class="large material-icons">account_balance</i></div>
                        <div class="derecha">
                            <p>-------------------</p>
                            <p></p>
                            <p class="descripcion">100m2</p>
                            <p class="descripcion">Excelentes diseños</p>
                            <p class="descripcion">Ubicación Privilegiada</p>
                            <br>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/app/modulos/Venta">Quiero Comprar Casa</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card white">
            <div class="division">
                <img src="assets\images\Logo.jpg" />
            </div>
        </div>

        <div>
            <div>
                <div class="card indigo darken-4">
                    <div class="card-content white-text">
                        <h5 class="texto">Casas en Arriendo</h5>
                        <div style="float: left"><i class="large material-icons">account_balance</i></div>
                        <div class="derecha">
                            <p>------------------------</p>
                            <p></p>
                            <p class="descripcion">Garantias</p>
                            <p class="descripcion">Amabilidad</p>
                            <p class="descripcion">Servicios de Administración</p>
                        </div>
                    </div>
                    <div class="card-action">

                        <a href="/app/modulos/alquiler">Quiero Arrendar Casa</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br><br>
    <h2 >Apartamentos</h2>
    <br><br>
    <div class="slider-container">
        <img class="slider-item" src="assets\images\apto2.jpg" />
        <img class="slider-item" src="assets\images\apto1.jpg" />
        <img class="slider-item" src="assets\images\apto4.jpg" />
        <img class="slider-item" src="assets\images\apto3.jpg" />
        <img class="slider-item" src="assets\images\apto5.jpg" />

    </div>
    <br><br>
    <div class="row">

        <div>
            <div class="card indigo darken-4">
                <div class="card-content white-text">
                    <h5 class="texto">Venta de Apartamentos</h5>
                    <div style="float: left"><i class="large material-icons">location_city</i></div>
                    <div class="derecha">
                        <p>----------------------------</p>
                        <p></p>
                        <p class="descripcion">Buena Ubicacion</p>
                        <p class="descripcion">Excelentes diseños</p>
                        <p class="descripcion">Entre 50 y 150 metros cuadrados</p>
                    </div>
                </div>
                <div class="card-action">
                    <a href="/app/modulos/Venta">Quiero Comprar</a>

                </div>
            </div>
        </div>
        <div class="card white">
            <div class="division">
                <img src="assets\images\Logo.jpg" />
            </div>
        </div>
        <div>
            <div class="card indigo darken-4">
                <div class="card-content white-text">
                    <h5 class="texto">Arriendo de Apartamentos</h5>
                    <div style="float: left"><i class="large material-icons">location_city</i></div>
                    <div class="derecha">
                        <p>----------------------------</p>
                        <p></p>
                        <p class="descripcion">Garantìas</p>
                        <p class="descripcion">Áreas verdes</p>
                        <p class="descripcion">Entre 50 y 150 metros cuadrados</p>
                    </div>
                </div>
                <div class="card-action">

                    <a href="/app/modulos/alquiler">Quiero Arrendar</a>
                </div>
            </div>
        </div>

    </div>
    <br><br><br>
    <h2>Locales Comerciales</h2>
    <br><br>
    <div class="slider-container">
        <img class="slider-item" src="assets\images\ofi3.jpg" />
        <img class="slider-item" src="assets\images\ofi5.jpg" />
        <img class="slider-item" src="assets\images\ofi1.jpg" />
        <img class="slider-item" src="assets\images\ofi4.jpg" />
        <img class="slider-item" src="assets\images\ofi2.jpg" />
    </div>
    <br><br>
    <div class="row">

        <div>

            <div class="card indigo darken-4">
                <div class="card-content white-text">
                    <h5 class="texto">Venta de Locales Comerciales</h5>
                    <div style="float: left"><i class="large material-icons">business</i></div>
                    <div class="derecha">
                        <p>----------------------------</p>
                        <p></p>
                        <p class="descripcion">En centros comerciales</p>
                        <p class="descripcion">Excelentes diseños</p>
                        <p class="descripcion">Buenos precios</p>
                    </div>
                </div>
                <div class="card-action">
                    <a href="/app/modulos/Venta">Quiero Comprar</a>
                </div>
            </div>
        </div>
        <div class="card white">
            <div class="division">
                <img src="assets\images\Logo.jpg" />
            </div>
        </div>
        <div>
            <div class="card indigo darken-4">
                <div class="card-content white-text">
                    <h5 class="texto">Arriendo de Locales Comerciales</h5>
                    <div style="float: left"><i class="large material-icons">business</i></div>
                    <div class="derecha">
                        <p>----------------------------</p>
                        <p class="descripcion">Buenos precios</p>
                        <p class="descripcion">Excelentes diseños</p>
                        <p class="descripcion">En zonas comerciales</p>
                    </div>
                </div>
                <div class="card-action">
                    <a href="/app/modulos/alquiler">Quiero Arrendar</a>
                </div>
            </div>
        </div>
    </div>
</body>