<br>
<body>
    <div class="container">
        <div class="row">
            <div class="col s4 m4 divInmueble">
                <label class="label1">
                    <h4> Casas</h4>
                </label>
                <div class="divider"></div>
                <div class="section">
                    <a routerLink="/administracion/casas">
                        <img class="img1" src="assets/images/casa.jpg"></a>
                </div>
                <label>
                    <h5 class="text-aling center">Busca el hogar para tu familia</h5>
                </label>
                &nbsp;
                <input routerLink="/administracion/casas" class="boton" type="button" value="Descubrelo Aquí">
            </div>
            <div class="col s4 m4 divInmueble">
                <label class="label1">
                    <h4> Apartamentos</h4>
                </label>
                <div class="divider"></div>
                <div class="section">
                    <a routerLink="/administracion/apartamentos">
                        <img class="img1" src="assets/images/apartamento.jpg"></a>
                </div>
                <label>
                    <h5 class="text-aling center">Descubre el hogar de tus sueños</h5>
                </label>
                &nbsp;
                <input routerLink="/administracion/apartamentos" class="boton" type="button" value="Descubrelo Aquí">
            </div>
            <div class="col s4 divInmueble">
                <label class="label1">
                    <h4> Locales</h4>
                </label>
                <div class="divider"></div>
                <div class="section">
                    <a routerLink="/administracion/locales-comerciales">
                        <img class="img1" src="assets/images/localcomercial.jpg"></a>
                </div>
                <label>
                    <br>
                    <h5 class="text-aling center">El mejor lugar para tu negocio</h5>
                </label>
                &nbsp;
                <input routerLink="/administracion/locales-comerciales" class="boton" type="button" value="Descubrelo Aquí">
            </div>
        </div>
    </div>

</body>