<body>
    <h2>Casas</h2>
    <div class="row">
        <div *ngFor="let p of listainmuebles">
            <div *ngFor="let in of p.tipoInmueble">
                <div *ngIf="in=='Casa'" class="col s12">
                    <a routerLink="/inicio"><img class="foto" src="{{p.fotografias}}"></a><br>
                    {{p.tipoOferta}}<br>
                    <p class="valor">${{p.valor}}</p>
                    <i class="material-icons rigth">location_on</i>
                    {{p.cuidad}}
                    {{p.departamento}}<br><br>
                    {{p.enlaceVideo}}<br><br>
                    <button (click)="mensaje()" class="btn waves-effect waves-light blue" type="submit" name="action">
                        Solicitar <i class="material-icons rigth">info</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

    <!--  <a routerLink="/inicio">
                <img class="foto" src="{{p.fotografias}}">
            </a>
            {{p.tipoInmueble}}
            {{p.tipoOferta}} <br>
            <p class="valor">$ {{p.valor}} </p>
            {{p.departamento}}
            {{p.cuidad}} <br> <br>
            {{p.enlaceVideo}} -->